/* GENERAL STYLES */

:root {
    --main-color: #12C6F9;
    --accent-color: #7be2ff;
    --easy-color: #45a049;
    --medium-color: #ffd000;
    --hard-color: #e70000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

body {
    background: radial-gradient(var(--accent-color), var(--main-color));
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--main-color);
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #444;
}

button:hover {
    cursor: pointer;
}

.page-title {
    font-family: 'Rubik Iso', cursive;
    font-size: 3rem;
    text-align: center;
    color: white;
    margin: 20px;
}



/* ===== OVERLAYS ===== */

.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: white;
    font-family: 'Rubik Iso', cursive;
    font-weight: bold;
}

.overlay-text:hover {
    cursor: pointer;
}

.overlay-text-small {
    font-size: .3em;
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }

    to {
        background-color: rgba(0, 0, 0, 0.8);
        font-size: 5rem;
    }
}



/* ===== GAME FRAME ===== */

.game-frame {
    width: 50vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}



/* ===== GAME CONTAINER ===== */

.game-info-container {
    min-width: 300px;
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-info {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 10px;
    justify-content: center;
    perspective: 500px;
}

.card {
    position: relative;
    height: 165px;
    width: 115px;
    border-radius: 10px;
}

.card img {
    height: inherit;
    width: inherit;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform 500ms ease-in-out;
}

.card-face:hover,
.card.visible .card-back,
.card.visible .card-front {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.card.visible .card-back {
    transform: rotateY(-180deg);
}

.card.visible .card-front {
    transform: rotateY(0);
}

.card-back {
    border: 2px solid var(--main-color);
}

.card-front {
    transform: rotateY(180deg);
}

.card-back,
.card-front {
    border-radius: 10px;
}



/* JS STYLES */

.card.matched {
    /* visibility: hidden; */
    cursor: default;
}



/* ===== MODALS ===== */

.start-buttons {
    display: flex;
    justify-content: center;
}

.rules-screen {
    margin: auto;
    text-align: center;
}

.level-buttons {
    display: flex;
    justify-content: space-evenly;
    font-size: 3rem;
    font-family: 'Rubik Iso', cursive;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
}

.show-modal {
    font-size: 2rem;
    font-weight: 600;
    padding: 1.75rem 3.5rem;
    margin: 5rem 2rem;
    border: none;
    background-color: #fff;
    color: #444;
    border-radius: 50px;
    cursor: pointer;
}

.close-modal {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}

/* MODAL BUTTONS */
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button#btn-easy {
    background-color: var(--easy-color);
}

.button#btn-medium {
    background-color: var(--medium-color);
}

.button#btn-hard {
    background-color: var(--hard-color);
}

.button:hover {
    background-color: var(--accent-color);
}

.button:active {
    background-color: var(--accent-color);
}



/* CLASSES TO MAKE MODAL WORK */

.hidden {
    display: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;

    background-color: white;
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}



/* MEDIA QUERIES */

@media (max-width: 600px) {

    /* CONTAINER/CARDS STYLES */
    .game-info-container {
        flex-direction: column;
        align-items: center;
    }

    .game-container {
        grid-template-columns: repeat(3, auto);
    }

    .card {
        height: 117px;
        width: 83px;
    }

    /* MODAL STYLES */
    .modal#rules-screen {
        width: 90%;
    }
    
    .start-buttons {
        flex-direction: column;
    }

    .show-modal {
        font-size: 1rem;
        padding: 1rem 2rem;
    }

    .close-modal {
        font-size: 3rem;
    }

    .button {
        padding: 8px 16px;
        font-size: 14px;
        margin: auto;
    }

    .level-buttons {
        column-gap: 5px;
    }
}